.content {
  display: grid;
  grid-template-areas:
    "header header header"
    "avatar descr descr"
    "posts posts posts";
  grid-template-rows: 294px 200px 1fr;
  grid-template-columns: 20% 1fr 1fr;
}

.header {
  width: 1000px;
  grid-area: header;
}

.avatar {
  grid-area: avatar;
  padding: 24px;
}

.avatar img {
  width: 150px;
  height: 150px;
}

.descr {
  grid-area: descr;
}

.descr_name {
  margin-top: 16px;
  margin-bottom: 4px;
}

.descr_nick {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
}

.descr hr {
  border-color: black;
  margin-right: 24px;
}

.descr_about p {
  margin-top: 4px;
  margin-bottom: 4px;
}