.nav {
    grid-area: n;
    background-color: #4b6154;
 }

 .item {
    color: white;
    padding-top: 12px;
    padding-left: 12px;
    font-size: 20px;
 }

 .item.active {
   color:aqua;
 }

 .item.settings {
   padding-top: 40px;
 }